PROJECT_NAME=phpbox
NETWORK_NAME=phpboxnet
WWW_ROOT=/home/kentrl/www
MYSQL_DATA_ROOT=/home/kentrl/mysql-data
CURRENT_UID=1000
CURRENT_GID=1000
NGINX_PORT=80
# Nginx 镜像 tag（默认 alpine）；换 tag 只会改变主配置目录，站点目录恒为 config/nginx/sites
NGINX_VERSION=alpine
PHP_SERVICE_PREFIX=php
MYSQL_SERVICE_PREFIX=mysql
REDIS_SERVICE_PREFIX=redis
NGINX_SERVICE_PREFIX=nginx
LABEL_SEPARATOR=-
IMAGE_TAG_SEPARATOR=-
BACKUP_NAME_SEPARATOR=-
IMAGE_PREFIX=phpbox-
MYSQL_57_PORT=3357
MYSQL_57_ROOT_PASSWORD=改成你的密码
MYSQL_80_PORT=3380
MYSQL_80_ROOT_PASSWORD=改成你的密码
MYSQL_84_PORT=3384
MYSQL_84_ROOT_PASSWORD=改成你的密码
PHP_DEFAULT_EXTENSIONS=gd,redis,pdo_mysql,mysqli,pgsql,pdo_pgsql,zip,bcmath,intl,opcache,exif,soap,sockets,imagick,xdebug
OFFLINE_DIR=./offline
APK_MIRRORS="http://sunsite.icm.edu.pl/Linux/dist/alpine https://freshmeat.icm.edu.pl/packages/linux-alpine"
# 镜像源网络超时秒数
APK_TIMEOUT=20
